<a href="https://colab.research.google.com/github/fvcarrijo/python/blob/main/aula1_python_tds2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/fvcarrijo/python/refs/heads/main/salaries.csv")

In [12]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,Média
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,Média
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,Média
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,Média
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,Média

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [5]:
df.shape

(133349, 11)

In [6]:
linhas,colunas = df.shape[0],df.shape[1]
print("linhas: ", linhas)
print("colunas: ", colunas)

linhas:  133349
colunas:  11

In [7]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [8]:
df["experience_level"].value_counts()

experience_level
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [9]:
df["company_size"].value_counts()

company_size
M    129561
L      3574
S       214
Name: count, dtype: int64

In [11]:
tamanho_empresa = {
    'S': 'Pequena',
    'M': 'Média',
    'L': 'Grande'
}
df['company_size'] = df['company_size'].replace(tamanho_empresa)
display(df['company_size'].value_counts())

company_size
Média      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [13]:
df = df.rename(columns={'company_size': 'tamanho_empresa'})
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,Média
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,Média
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,Média
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,Média
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,Média