<a href="https://colab.research.google.com/github/fvcarrijo/python/blob/main/aula01_pythontds2v.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# Importando a biblioteca pandas

import pandas as pd

In [20]:
# Importando o data frame salaries

df = pd.read_csv("https://raw.githubusercontent.com/fvcarrijo/python/refs/heads/main/salaries.csv")

In [21]:
# Leitura do data frame salaries
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [22]:
# Informações do data frame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [6]:
df.shape

(133349, 11)

In [7]:
linhas, colunas = df.shape[0], df.shape[1]
print("Qtd de linhas: ", linhas)
print("Qtd de colunas: ", colunas)

Qtd de linhas:  133349
Qtd de colunas:  11

In [8]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [9]:
df["experience_level"].value_counts()

experience_level
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [10]:
experience_level_mapping = {
    'SE': 'Senior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
}
df['experience_level'] = df['experience_level'].replace(experience_level_mapping)
print(df['experience_level'].value_counts())

experience_level
Senior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [11]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,Senior,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Senior,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Júnior,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [12]:
df["employment_type"].value_counts()

employment_type
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [13]:
employment_type_mapping = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
}
df['employment_type'] = df['employment_type'].replace(employment_type_mapping)
print(df['employment_type'].value_counts())

employment_type
Tempo Integral    132563
Contrato             394
Meio Período         376
Freelancer            16
Name: count, dtype: int64

In [14]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,M

In [15]:
df["company_size"].value_counts()

company_size
M    129561
L      3574
S       214
Name: count, dtype: int64

In [16]:
column_mapping = {
    'work_year': 'ano_trabalho',
    'experience_level': 'nivel_experiencia',
    'employment_type': 'tipo_emprego',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda_salario',
    'salary_in_usd': 'salario_em_dolar',
    'employee_residence': 'endereco',
    'remote_ratio': 'taxa',
    'company_location': 'filial',
    'company_size': 'porte_empresa'
}
df = df.rename(columns=column_mapping)
print(df.columns)

Index(['ano_trabalho', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario',
       'moeda_salario', 'salario_em_dolar', 'endereco', 'taxa', 'filial',
       'porte_empresa'],
      dtype='object')

In [17]:
df.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,cargo,salario,moeda_salario,salario_em_dolar,endereco,taxa,filial,porte_empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,M